<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.OrderMapper">
    <resultMap id="OrderResultMap" type="com.shop.entity.Order">
        <result column="orderId" jdbcType="INTEGER" property="order_id" />
        <result column="itemId" jdbcType="INTEGER" property="item_id" />
        <result column="sellerUsername" jdbcType="VARCHAR" property="seller_username" />
        <result column="buyerUsername" jdbcType="VARCHAR" property="buyer_username" />
        <result column="buyerRealname" jdbcType="VARCHAR" property="buyer_realname" />
        <result column="buyerPhonenumber" jdbcType="VARCHAR" property="buyer_phonenumber" />
        <result column="buyerAddress" jdbcType="VARCHAR" property="buyer_address" />
        <result column="buySum" jdbcType="INTEGER" property="buy_sum" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="createTime" jdbcType="TIMESTAMP" property="create_time" />
        <result column="finishTime" jdbcType="TIMESTAMP" property="finish_time" />
    </resultMap>
    <!---->
    <!--查看order表中商品号为item_number的买家列表-->
    <select id="searchBuyerlist" resultMap="OrderResultMap" resultType="com.shop.entity.Order">
        select * from orders where itemId = #{item_id}
    </select>

    <!--查看order表中商品号为item_number且正在交易中的的订单信息-->
    <select id="searchFreezeGoodsBuyer" resultMap="OrderResultMap">
        select * from orders where itemId = #{item_id,jdbcType=INTEGER} and state = 2
    </select>

    <!--同意意向买家-->
    <update id="agreeOrderwanted" parameterType="com.shop.entity.Order">
        update orders set state = 1 where orderId = #{order_id}
    </update>

    <!--修改其余订单状态为关闭交易-->
    <update id="updateOtherOrders" parameterType="com.shop.entity.Order">
        update orders set state = 4 where itemId = #{item_id} and state = 5
    </update>

    <!--交易成功(下架)-->
    <update id="finishOrder" parameterType="com.shop.entity.Order">
        update orders set state = 4 where itemId = #{item_id}
    </update>

    <!--交易失败(恢复)-->
    <update id="cancelOrder" parameterType="com.shop.entity.Order">
        update orders set state = 4 where itemId = #{item_id}
    </update>

    <!--通过订单id查询订单-->
    <select id="searchOrderByOrderId" resultMap="OrderResultMap">
        select * from orders where orderId = #{order_id}
    </select>

    <!--根据item_id(商品ID)有意向的购买者下单-->
    <insert id="addToOrderWanted" parameterType="com.shop.entity.Order">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides="," >

            <if test="item_id != null" >
                itemId,
            </if>
            sellerUsername,
            <if test="buyer_realname != null" >
                buyerRealname,
            </if>
            <if test="buyer_phonenumber != null" >
                buyerPhonenumber,
            </if>
            <if test="buyer_address != null" >
                buyerAddress,
            </if>
            <if test="buy_sum != null" >
                buySum,
            </if>
            state,
            <if test="create_time != null">
                createTime,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="item_id != null" >
                #{item_id,jdbcType=INTEGER},
            </if>
            "admin",
            <if test="buyer_realname != null" >
                #{buyer_realname,jdbcType=VARCHAR},
            </if>
            <if test="buyer_phonenumber != null" >
                #{buyer_phonenumber,jdbcType=VARCHAR},
            </if>
            <if test="buyer_address != null" >
                #{buyer_address ,jdbcType=VARCHAR},
            </if>
            <if test="buy_sum != null" >
                #{buy_sum ,jdbcType=INTEGER},
            </if>
            5,
            <if test="create_time != null" >
                #{create_time ,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>